@charset "UTF-8";
/*se importan los partials*/
/*Reseteo los valores seteados del navegador. Si no pongo esto, se me crea un margen por default que crea un marco blanco en la pagina*/
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Carena-Regular;
  font-weight: bold;
  src: url(../fonts/Carena-Regular.otf) format("opentype");
}
/*Esto es para que el color del boton que indique la pagina actual, haciendo override al color asignado a los textos del nav 
en siguiente bloque de codigo*/
#actual {
  background-color: #5c3434;
  border-radius: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

/*Variables del footer*/
.wppimage {
  /*hf: altura foto, left: ubicacion desde la izquierda, space: espaciado desde el centro*/
  display: inline-block;
  position: absolute;
  height: 50px;
  width: 50px;
  left: 50vw;
  transform: translateX(-75px);
}
.wppimage img {
  height: 100%;
  width: 100%;
}

.igimage {
  /*hf: altura foto, left: ubicacion desde la izquierda, space: espaciado desde el centro*/
  display: inline-block;
  position: absolute;
  height: 50px;
  width: 50px;
  left: 50vw;
  transform: translateX(25px);
}
.igimage img {
  height: 100%;
  width: 100%;
}

.navdesktop {
  /*Para que el nav quede pegado al tope de la página cuando se 
  scrollea hacia abajo*/
  position: sticky;
  top: 0;
  /*El z-index es para que al scrollear el nav quede siempre por 
  encima de todo*/
  z-index: 999;
  /*Poner 100vw fue la única forma que encontré para que el body deje 
  de quedar más chico que la página en distintas páginas*/
  width: 100vw;
}
.navdesktop ul li a {
  /*Formato de botones para que sea clickeable todo el boton del navegador y no solo 
  el texto del ancla, tambien se agrega animacion de hover*/
}
.navdesktop ul li a .navbutton {
  background-color: #300c0c;
  border: none;
  /*El borde ya esta dado por el parent list item*/
  font-family: Carena-Regular;
  color: white;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  /*transition: 2s;*/
  /*Comento esta linea de CSS porque me interesaba agregarle una animacion al boton luego de hacerle click, pero no se por que la animacion sucedia solo
  cuando hacia click en Uploads y Requests. Cuando se hacia click en Introduction, Contact y Speedruns no surgia animacion asi que lo comento para que no se aplique pero no
  termine de entender por que con algunos si y otros no animaba*/
  display: inline-block;
  width: 95%;
  /*Le pogno esto para que el boton ocupe todo el espacio del ancla, de esta forma la propiedad del hover (cambio de opacidad en la letra) se dispara cuando el mousse
  pase por encima de cualquier parte del boton, y no solo por encima del texto. Lo dejo en 95% porque con 100% supera al nav*/
  cursor: pointer;
  /*Con esta linea, el mousse cambia a una manito cuando pasa por encima del boton para indicar que se puede hacer click ahi*/
}
.navdesktop ul li a .navbutton:hover {
  /*Con esta parte agrega la opacidad que quiero cuando pase el mouse por el boton*/
  opacity: 1;
}

/* Modifico dimensiones del navbar del tipo hamburguesa de como 
viene en Bootstrap, intente hacerlo solo llamando a "nav" pero no 
funciona dentro de "nav", tengo que si o si modificar la clase "navbar"*/
.navbar {
  padding: 0;
  border: solid;
  /*Color del navbar*/
}
.navbar div .navbar-toggler {
  /*Le doy borde al boton*/
  border: solid;
  border-color: black;
}
.navbar #navbar {
  background-color: #300c0c;
}

nav {
  position: sticky;
  top: 0;
  /*Uso display:flex para ubiar los botones y que ocupen todo el vw*/
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0%;
  border: 0;
}
nav ul li {
  /*Formato de los botones para el nav*/
  border-style: none;
  font-family: Carena-Regular;
  background-color: #300c0c;
  /*La idea del 20% es para que con el total de los 5 elementos del navegador se me 
  ocupe la totalidad del ancho de la pagina*/
  width: 100%;
  /*Quiero que el texto en los botones este con justificacion en el centro*/
  text-align: center;
}
nav ul li a button {
  /*Modifico boton*/
  margin: 7px;
}

.collapse .p-4 {
  /*Solo poniendo !important me hace efecto este cambio*/
  padding: 5px !important;
}
.collapse div a .navbutton {
  background-color: #300c0c;
  border: none;
  font-family: Carena-Regular;
  color: white;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  display: inline-block;
  width: 95%;
  cursor: pointer;
}
.collapse div a .navbutton:hover {
  opacity: 1;
}

/*Esta clase es el formato que va a tener MIENTRAS se abre el menu hamburguesa*/
.collapsing .p-4 {
  /*Solo poniendo !important me hace efecto este cambio*/
  padding: 5px !important;
}
.collapsing div a .navbutton {
  background-color: #300c0c;
  border: none;
  font-family: Carena-Regular;
  color: white;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  display: inline-block;
  width: 95%;
  cursor: pointer;
}
.collapsing div a .navbutton:hover {
  opacity: 1;
}

/*Código importado desde el GitHub de Ian Lunn para agregar animaciones en botones*/
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #7c3e25;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/*Termina código importado*/
/*Comienza lo que contiene body*/
body {
  background-image: linear-gradient(#b48a99 20%, rgba(48, 12, 12, 0.8784313725) 80%);
  background-repeat: no-repeat;
  /*Es necesario agregar este estilo para que el gradiente se me extienda por toda la página*/
  background-attachment: fixed;
  height: 2500px; /*Esta dimensión del body es para hacer prueba del nav en sticky*/
}
body h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0;
}
body h1 p {
  font-family: Carena-Regular;
  position: relative;
  top: 10px;
  padding: 20px;
}

.divimage {
  display: flex;
  flex-direction: row;
  margin: 2%;
  /*Posicionamiento de la imagen en Introduction, la intencion que tengo 
  es de ponerlo al costado y a su derecha el texto introductorio al sitio web*/
}
.divimage #introimage {
  border-radius: 40px;
  top: 200px;
}
.divimage #intro {
  margin: 25px;
  top: 200px;
  text-align: justify;
  font-weight: 500;
}

/*Para darle un espacio entre el primer texto de Contacts con el navegador, y margen al texto*/
.socialmedia {
  margin-left: 20px;
}
.socialmedia div {
  /*Para ordenar los items "Instagram, YouTube, etc..."*/
}
.socialmedia div #socialmedialist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}
.socialmedia form {
  /*Espaciado entre zonas de texto en formulario de Contacts*/
}
.socialmedia form div {
  padding-top: 20px;
  padding-right: 20px;
}

/*Espaciado entre navegador y primer texto en Requests*/
.requests {
  margin-left: 20px;
  /*Espaciado entre texto y lista de solicitudes en Requests*/
}
.requests p {
  margin-bottom: 25px;
}
.requests .iframediv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}
.requests .iframediv iframe {
  width: 90%;
  margin-left: -20px;
}

.speedruns {
  /*Espaciado entre navegador y primer texto en Speedruns*/
  margin-left: 20px;
  /*Espaciado entre parrafo y videos de Speedruns*/
}
.speedruns p {
  padding-bottom: 10px;
}
.speedruns #noupload {
  font-style: italic;
  color: rgb(27, 23, 23);
}

/*Espaciado entre navegador y primer texto de Uploads*/
.uploads {
  margin-left: 20px;
  /*Espaciado entre video subido en Uploads y todo lo demas*/
}
.uploads .iframeuploads {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.uploads .iframeuploads h2 {
  margin: 20px;
  font-size: x-large;
  text-decoration: underline;
}
.uploads .iframeuploads label img {
  /*Tenia la intencion de usar la funcion visibility pero por alguna razon no funciona con la imagen
  pero con opacity si puedo esconder la imagen*/
  opacity: 1;
  transition: 0.2s;
  /*Codigo importado usando una pagina de box generator*/
  box-shadow: 30px 30px 50px 1px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 30px 30px 50px 1px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 30px 30px 50px 1px rgba(0, 0, 0, 0.64);
  /*Fin de codigo importado*/
  cursor: pointer;
}
.uploads .iframeuploads label img:hover {
  transform: skew(5deg, 1deg) scale(1.008);
  /*Codigo importado usando una pagina de box generator*/
  box-shadow: 40px 40px 100px 15px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 40px 40px 100px 15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 40px 40px 100px 15px rgba(0, 0, 0, 0);
  /*Fin de codigo importado*/
}
.uploads .iframeuploads .labelultimocapitulo {
  height: 315px;
  width: 560px;
}
.uploads .iframeuploads .labelultimocapitulo img {
  visibility: visible;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.uploads .iframeuploads iframe {
  visibility: hidden;
}
.uploads .iframeuploads #ultimocapitulo {
  display: none;
}
.uploads .iframeuploads #ultimocapitulo:checked ~ iframe {
  visibility: visible;
  position: absolute;
  /*Ubicación para que se ponga justo donde antes estaba la imagen*/
  top: 265.8px;
}
.uploads .iframeuploads #ultimocapitulo:checked ~ .labelultimocapitulo {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  body main .divimage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .divimage #introimage {
    height: 50%;
    width: 50%;
    border-radius: 7%;
  }
  body footer {
    height: 150px;
  }
  body footer .wppimage {
    left: 100px;
    top: 20px;
  }
  body footer .igimage {
    left: 0;
    /*Le doy el espacio de una imagen, mas el padding mas el espacio entre imagenes*/
    top: 85px;
  }
  body footer .wpptext {
    left: 360px;
    width: 50vw;
  }
  body footer .igtext {
    width: 50vw;
    left: 0;
    top: 95px;
  }
  .navdesktop {
    display: none;
  }
  .navbar {
    position: sticky;
    top: 0px;
  }
  .navbar label {
    width: 100vw;
    z-index: 999;
  }
  .uploads .iframeuploads iframe {
    width: 72vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .divimage #introimage {
    height: 35%;
    width: 35%;
  }
  .navdesktop {
    display: none;
  }
  .navbar {
    position: sticky;
    top: 0px;
  }
  .show {
    position: sticky;
  }
}
@media screen and (min-width: 992px) {
  .divimage #introimage {
    height: 369px;
    width: 333px;
  }
  .collapse {
    display: none;
  }
  .navbar {
    display: none;
  }
}
footer {
  /*display: flex;
  flex-direction: row;
  text-align: center;*/
  position: fixed;
  background-color: rgb(71, 29, 29);
  /*height: $tamaniofooter;*/
  bottom: 0;
  width: 100vw;
  padding: 20px 0 20px 0;
  height: 90px;
  /*Hice el mixin footerin para que centre dentro del footer*/
  /*Hice el mixin footerintexto para que centre dentro del footer*/
}
footer .wpptext {
  /*hf: altura texto, left: ubicacion desde la izquierda, space: espaciado desde el centro*/
  color: rgb(151, 79, 69);
  display: inline;
  position: absolute;
  top: 35px;
  left: 50vw;
  transform: translateX(-250px);
  font-weight: bold;
}
footer .igtext {
  /*hf: altura texto, left: ubicacion desde la izquierda, space: espaciado desde el centro*/
  color: rgb(151, 79, 69);
  display: inline;
  position: absolute;
  top: 35px;
  left: 50vw;
  transform: translateX(110px);
}

/*# sourceMappingURL=main.css.map */
